.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;

    &.top {
        top: 5%;
    }

    &.bottom {
        bottom: 16%;

        span {
            color: #333;
        }
    }
}

ion-slides {
    height: 100%;

    .slide-inner {
        width: 75%;
        color: #333;
        background-color: #FFF;;
        border-radius: 10px;
        margin-top: 279px;
        //border: 1px solid #333;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        ion-item {
            --background: rgba(255, 255, 255, 0.2);
            --border-radius: 10px;

            ion-input {
                --color: #333;
            }
        }
    }
}

.ocean {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45%;
    background-color: #79c26b;

    .waves {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        height: 100px;
        //background-image: url('/assets/img/waves.png');
        background-size: contain;
        transition: all 0.5s;
    }
}