<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Equipamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="product.name" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="product.description" placeholder="Prontuário"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input type="date" [(ngModel)]="product.price" placeholder="Data de Devolução"></ion-input>
    </ion-item>

    <h4 class="titulo-foto">Seu item: </h4>

    <ion-item>
      <ion-input disabled="disabled" [(ngModel)]="product.picture" placeholder="Vc não selecionou nenhum equipamento"> <img [src]="product.picture"></ion-input>
    </ion-item>

    <h4 class="titulo-foto">Itens Disponiveis: </h4>

    <ion-item class="segura-fotos">
          <img src="https://s3.novatec.com.br/capas/9788575225905.jpg">
          <img src="https://papelariaqueiroz.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/a/p/apagador-com-deposito-cagema.jpg">
          <img src="https://29028l.ha.azioncdn.net/img/2017/02/produto/41481/19/large/impressora-canon-pixma-mg2510.jpg">
    </ion-item>

      <ion-item>
          <ion-label>Selecione um dos itens disponiveis</ion-label>
          <ion-select [(ngModel)]="product.picture">
            <ion-select-option value="https://s3.novatec.com.br/capas/9788575225905.jpg"> Livro de PHP</ion-select-option>
            <ion-select-option value="https://papelariaqueiroz.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/a/p/apagador-com-deposito-cagema.jpg"> Apaga Lousa</ion-select-option>
            <ion-select-option value="https://29028l.ha.azioncdn.net/img/2017/02/produto/41481/19/large/impressora-canon-pixma-mg2510.jpg"> Impressora</ion-select-option>
          </ion-select>
        </ion-item>

   

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveProduct()" expand="block">
      Pegar Equipamento
    </ion-button>
  </ion-toolbar>
</ion-footer>