<ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Task List - TEE
      </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="newTask()">
            <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-list>
      <ion-item-sliding *ngFor="let tarefa of lista">
        <ion-item  routerLink="/step/{{tarefa.id}}">
          <ion-label>{{tarefa.title}}</ion-label>
           
        </ion-item>

        <ion-item-options>
          <ion-item-option (click)="renameTask(tarefa)" color="light">
            <ion-icon slot="icon-only" name="clipboard"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="removeTask(tarefa)" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
      </ion-item-options>

      </ion-item-sliding>
    </ion-list>

  </ion-content>
  